@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
  touch-action: none;
}

@font-face {
  font-family: "OrbitronLight";
  src: url("/fonts/orbitron.light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* reset
button {
  all: unset;
} */

.CheckboxRoot {
  background-color: white; /* This will be overridden by inline styles based on the checked state */
  width: 25px;
  height: 25px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
